doctype html
html
  head
    title Profil
  body
    h1 Profil OpenID Connect

    // Affichage des données JSON
    ul
      li Compte : #{user.preferred_username}
      li First name : #{user.given_name}
      li Last name : #{user.family_name}
      li Email : #{user.email}
      li Email verified ? #{user.email_verified}

    // Formulaire de déconnexion
    form(action="/oidc/userinfo", method="get")
      button(type="submit") Userinfo endpoint test

    // Formulaire de déconnexion
    form(action="/oidc/logout", method="get")
      button(type="submit") Se déconnecter

    // home
    form(action="/", method="get")
      button(type="submit") HOME
